# Node modules
node_modules/

# TypeScript build output
dist/
build/

# Logs
*.log

# Environment variables
.env

# Operating system files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
